<h4  class="request-title">New Request</h4>
<div mat-dialog-content>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Travel data
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>assignment</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="TravelDataForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Project Code" formControlName="project_code" [errorStateMatcher]="matcher" [(ngModel)]="data.project_code">
                    <mat-error *ngIf="TravelDataForm.get('project_code').hasError('required')">
                        Project Code is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="employee name" formControlName="empname" [errorStateMatcher]="matcher" [(ngModel)]="data.empname">
                    <mat-error *ngIf="TravelDataForm.get('empname').hasError('required')">
                        Employee Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="employee id" formControlName="empid" [errorStateMatcher]="matcher" [(ngModel)]="data.empid">
                    <mat-error *ngIf="TravelDataForm.get('empid').hasError('required')">
                        Employee id is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="country" formControlName="country" [errorStateMatcher]="matcher" [(ngModel)]="data.country">
                    <mat-error *ngIf="TravelDataForm.get('country').hasError('required')">
                        Country is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Travel Date" [matDatepicker]="travel_date" (focus)="travel_date.open()" readonly formControlName="traveldate">
                </mat-form-field>
                <mat-datepicker #travel_date></mat-datepicker>

                <mat-form-field>
                    <input matInput placeholder="Return Date" [matDatepicker]="return_date" (focus)="return_date.open()" readonly formControlName="returndate">
                </mat-form-field>
                <mat-datepicker #return_date></mat-datepicker>

                <mat-action-row>
                    <button mat-button color="primary" type="submit">Save</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>

                </mat-action-row>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Flight options
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>flight_takeoff</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Flight number" formControlName="flightno" [errorStateMatcher]="matcher" [(ngModel)]="data.flightno">
                <mat-error *ngIf="TravelDataForm.get('flightno').hasError('required')">
                    Flight Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Flight carrier name" formControlName="flightcarrier" [errorStateMatcher]="matcher" [(ngModel)]="data.flightcarrier">
                <mat-error *ngIf="TravelDataForm.get('flightcarrier').hasError('required')">
                    Flight carrier name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="To" formControlName="to" [errorStateMatcher]="matcher" [(ngModel)]="data.to">
                <mat-error *ngIf="TravelDataForm.get('to').hasError('required')">
                    To is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="From" formControlName="from" [errorStateMatcher]="matcher" [(ngModel)]="data.from">
                <mat-error *ngIf="TravelDataForm.get('from').hasError('required')">
                    Flight Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Passport/Visa
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>
    
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>