<h4  class="request-title">New Request</h4>
<div mat-dialog-content>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Travel data
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>assignment</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Project Code">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Country">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Travel Date" [matDatepicker]="travel_date" (focus)="travel_date.open()" readonly>
            </mat-form-field>
            <mat-datepicker #travel_date></mat-datepicker><br />

            <mat-form-field>
                <input matInput placeholder="Return Date" [matDatepicker]="return_date" (focus)="travel_date.open()" readonly>
            </mat-form-field>
            <mat-datepicker #return_Date></mat-datepicker><br />

            <mat-form-field>
                <input matInput placeholder="Employee Id">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Approver">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Employee Name">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Male" type="radio">
                <input matInput placeholder="Female" type="radio">
                </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Date of Birth">
            </mat-form-field><br />


            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Save</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>

            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Flight options
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>flight_takeoff</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Flight Number">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Flight Carrier">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="To">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="From">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Price">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Date" [matDatepicker]="travel_date" (focus)="travel_date.open()" readonly>
            </mat-form-field>
            <mat-datepicker #travel_date></mat-datepicker><br />

            <mat-form-field>
                <input matInput placeholder="Time">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Total Cost">
            </mat-form-field><br />

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Hotel Information
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>assignment</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Hotel Name">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Location">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Check In Date" [matDatepicker]="travel_date" (focus)="travel_date.open()" readonly>
            </mat-form-field>
            <mat-datepicker #travel_date></mat-datepicker><br />

            <mat-form-field>
                <input matInput placeholder="Check Out Date" [matDatepicker]="return_date" (focus)="travel_date.open()" readonly>
            </mat-form-field>
            <mat-datepicker #return_Date></mat-datepicker><br />

            <mat-form-field>
                <input matInput placeholder="Website">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Mobile Number">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Price">
            </mat-form-field><br />

            <mat-action-row>
                <button mat-button color="primary" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>

            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Passport/Visa
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Passport Number">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Visa Number">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Visa Expiry Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #travel_date></mat-datepicker><br />

            <mat-form-field>
                <input matInput placeholder="Passport Expiry Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #travel_date></mat-datepicker><br />


            <mat-action-row>
                <button mat-button color="primary" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Forex Information
                </mat-panel-title>
                <mat-panel-description>
                    <span class="flex-expand"></span>
                    <mat-icon>assignment</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Card Number">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Country Code">
            </mat-form-field><br />

            <mat-form-field>
                <input matInput placeholder="Mobile Number">
            </mat-form-field><br />


            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">End</button>

            </mat-action-row>
        </mat-expansion-panel>



    </mat-accordion>
    
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>