
.mat-expansion-panel-header-title {
    color: #3f51b5;
}

.mat-tab-group {
    margin-left: -24px;
    
}

::ng-deep .mat-tab-body {
    padding:24px 16px 24px 16px;
}

::ng-deep .mat-form-field {
    margin-right: 16px;
    margin-bottom: 16px;
}

.request-title {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -24px -24px 24px -24px;
    padding: 12px 24px;
    background: #3f51b5;
    color:white;
}

.flex-expand
{
    flex: 1 1 auto;
    
}
.mat-input-element {
    width: 80%;
    min-width:80%;
    max-width: 100%;
    
}
